.student-profile-container {
    display: flex;
    flex-direction: row;
    border: 2px solid #5c946e;
    width: 800px;
    height: 185px;
    margin-top: 15px;

}

.profile-photo-container {
    width: 160px;
    padding-top: 30px;
    padding-bottom: 55px;

    img{
        width: 105px;
        height: 105px;
        border-radius: 5px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

.profile-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin: 0;
    }
}

.student-info-container {
    margin: 20px 0px;

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }

}